DB_HOST=localhost
DB_NAME=flex_cms
DB_USER=root
DB_PASS=root
DB_CHAR=utf8mb4
GITHUB_UPDATE_TOKEN=...

# Mail Configuration
MAIL_HOST=smtp
MAIL_PORT=587
MAIL_USERNAME=info...
MAIL_PASSWORD="your_secure_password_here"
MAIL_FROM_ADDRESS=info@kriskata.com
MAIL_FROM_NAME="Flex CMS"
APP_URL=http://localhost:8000

# Update Configuration
UPDATE_DOMAIN=
UPDATE_SERVER_USER=
UPDATE_SERVER_PASS=